<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootmybatisplus.dao.AuObjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springbootmybatisplus.model.AuObject">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="schedule" property="schedule" />
        <result column="enable" property="enable" />
        <result column="logtime" property="logtime" />
        <result column="groupid" property="groupid" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="createuserid" property="createuserid" />
    </resultMap>

</mapper>
